@media only screen and (max-width: 600px){
    section#redes-sociais{
        display:flex;
        flex-flow: row wrap;
        justify-content:space-evenly;
        
    }
    .redes-img{
        width: 50px; 
        border-radius: 50%;
        margin: 20px 0px 0px 0px;
   }

}