@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

body{
    background: url('../imagens/fundo-preto-madeira.jpg') no-repeat center center;
    background-size: cover ;
    background-attachment: fixed;
   
}

main{
    position: relative;
    height: 100vh;
}

#telefone{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);

    height: 529px;
    width: 262px;
    background: url('../imagens/telefone.png') no-repeat;
     
}


iframe#tela{
    position: relative;
    top: 63px;
    left: 19px;
    width: 223px;
    height: 398px;

}

section#redes-sociais{
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    
}

.redes-img{
     width: 50px; 
     margin: 10px 15px 0px 0px ;
     border-radius: 50%;
}

.redes-img:hover{
    width: 53px;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: width 0.3s;
    transform: translate(-5px);
}

.redes-img:active{
    width: 52px;
    transition: 0.1s;
    box-shadow: 0px 0px 20px rgb(145, 145, 145);
}